.home-devi {
    width: 90%;
    margin: 0 auto;
}

.search-section-devi {
    margin: 1.5rem 0;
}

.home-search-devi {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding: 3rem 0;
    border: 1px solid black;
}
.postDate {
    font-family: "Lora", serif;
    font-style: italic;
    font-size: 13px;
    color: #999;
    margin-top: 15px;
  }
.title-search-devi {
    font-size: 3rem;
}


.title-search-devi-text{

    margin: 2rem auto;
}
.input-search-box-devi {
    -webkit-appearance: none;
    border: 1px solid black;
    outline: none;
    padding: 10px;
    width: 550px;
    line-height: 30px;
    margin-bottom: 30px;
}

.heading-devi-category {
    font-family: sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin: 20px 50px 20px 5px;
}

.card-home-devi {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.title {
    /* text-align: center; */
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    margin-top: 20px;
}

.sub-title {
    /* text-align: center; */
    font-size: 19px;
    font-family: "Times New Roman", Times, serif;
    color: grey;
    margin-top: 10px;
}
.vendor-heading-h1 {
    margin: 0;
}

.vendor-devi {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
}

.vendor-subtitle {
    color: #a5a5a5;
}

.vendor-price {
    font-weight: 700;
}

.perday {
    color: #a5a5a5;
    font-weight: 400;
}

.vendor-cards-image-devi {
    padding: 5rem;
}

.vendor-cards-image-devi-front {
    padding: 8rem;
}
.vendor-images-devi {
    width: 250px !important;
    height: 192.03px !important;
}

.vendor-card-devi {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
    justify-content: space-evenly;
    
}

.category-card-devi {
    padding: 1rem;
    justify-content: center;
    align-items: center;
    /* margin: 0 auto; */
}

.category-card-img-devi {
    height: 500px !important;
    width: 250px !important;
}

@media screen and (max-width: 650px) {
    .home-search-devi {
        width: 90%;
        margin: 0 auto;
        text-align: center;
        padding: 2rem 0;
        border: 1px solid black;
    }
    .title-search-devi {
        font-size: 2rem;
    }
    
    .input-search-box-devi {
        -webkit-appearance: none;
        border: 1px solid black;
        outline: none;
        padding: 10px;
        width: 290px;
        line-height: 30px;
        margin-bottom: 30px;
    }
    .vendor-images-devi {
        width: 230px !important;
        height: 150px !important;
    }
    .category-card-devi {
        /* margin: 0 auto; */
        justify-content: center;
    }
    .category-card-img-devi {
        height: 300px !important;
        width: 225px !important;
    }
    .title {
        font-size: 1.2rem;
    }
    .sub-title {
        font-size: 1.2rem;
    }
    .card-home-devi {
        margin: 0 auto !important;
        justify-content: center;
    }
}

@media screen and (max-width: 380px) {
    .home-search-devi {
        width: 90%;
        margin: 0 auto;
        text-align: center;
        padding: 1.2rem 0;
        border: 1px solid black;
    }
    .title-search-devi {
        font-size: 1.4rem;
    }
    
    .input-search-box-devi {
        -webkit-appearance: none;
        border: 1px solid black;
        outline: none;
        padding: 10px;
        width: 70%;
        line-height: 30px;
        margin-bottom: 30px;
    }
   
    .category-card-img-devi {
        height: 240px !important;
        width: 200px !important;
    }
    .title {
        font-size: 1.2rem;
        font-weight: 700;
    }
    .sub-title {
        font-size: 1rem;
        font-weight: 300;
    }
}
